:root {
  --blue: #198cdf;
  --red: #ee3004;
  --white: #fff;
  --black: #000;
  --transparent-grey: rgba(72,72,72,0.5);
}

* {
	padding: 0;
	margin: 0;
	font-family: Arial, sans-serif;
	text-decoration: none;
	color: var(--black);
}

html, body, main {
    height: 100%;
    display: flex;
}

body {
	background: var(--blue);
}

#mainContain {
	display: flex;
	position: relative;
	width: 100vw;
	height: 100%;
	z-index: 1;
	box-sizing: border-box;
/*	overflow-y: scroll;*/
}

#mainColor1 {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 40vw;
	min-height: 100%;
	background: var(--blue);
	z-index: 3;
}

#logo {
	position: absolute;
	top: 5vh;
	left: 5vh;
	width: 25vh;
	height: 25vh;
	background: var(--white);
	z-index: 4;
	border-radius: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

#logo img {
	width: 90%;
}

#mainImageContain {
	position: absolute;
	top: 0;
	left: 40vw;
	width: 60vw;
	height: 100%;
}

#mainImage {
	height: 100%;
	width: 100%;
	object-fit: cover;
	z-index: 2;
}

#mainContentContain {
	position: absolute;
	top: 35vh;
	z-index: 6;
}

#mainTextContain {
	width: 90vw;
}

#mainText {
	background: rgba(256,256,256,1);
	width: 100%;
	padding: 5%;
	border-radius: 5vw;
	box-shadow: 2px 2px 5px var(--transparent-grey);
}

#mainText a {
	color: var(--blue);
}

#sm {
	position: absolute;
	width: 90vw;
	height: 10vh;
	margin: 2vh 3vw;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	z-index: 6;
}

#sm a {
	width: 10vh;
	height: 10vh;
	background: var(--blue);
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}


#fb {
	width: 9vh;
	height: 9vh;
}

#fb-feed {
	background: rgba(256,256,256,1);
	width: 90vw;
	padding: 3vw 2vw;
	margin: 2vh 3vw;
	border-radius: 5vw;
	box-shadow: 2px 2px 5px var(--transparent-grey);
	display: flex;
	justify-content: center;
}

@media only screen and (min-width: 1000px) {
  body {
    background-color: var(--blue);
  }

  #mainContentContain {
  	padding: 0;
  	margin: 0;
  	width: 100vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
  }

  #mainTextContain {
	width: 40vw;
	padding: 0;
  }

  #fb-feed {
  	width: 45vw;
	margin: 0 3vw;
  }
}
